body {
  font-family: 'Lora', serif;
  margin: 0px;
  background-color: black;
  color: white;
}

header, footer[role="contentinfo"]{
  text-align: center;
  background: url('../images/dark_embroidery.png') repeat;
}

footer[role="contentinfo"]{
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}

/*Main Title*/
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4.25em;
}

h2{
  font-size: 2em;
  color: #FFFFFF;
}

header p{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.00em;
  color: #FFFFFF;
}

header p:nth-child(2){
    font-size: 1.25em;
}

/*Optimize line lengths for readability*/
main .container{
  max-width: 540px;
}
